.button {
	display: flex;
	flex-direction: row;
	position: relative;

	font-family: var(--font-family);
	font-weight: var(--fw-lvl-2);
	font-size: var(--fz-lvl-2);
	border: none;
}

.button:hover {
	cursor: pointer;
}
.button.clear:hover::after {
	content: "";
	width: 100%;
	border-bottom: var(--length-st-1) solid var(--color-border-second);

	position: absolute;
	top: calc(100%);
}

.button.secondary:hover {
	cursor: pointer;
	opacity: 0.7;
}
.button.secondary:active {
	opacity: 0.5;
}

.button[disabled] {
	opacity: 0.6;
}
.button[disabled]:hover {
	cursor: auto;
	opacity: 0.6;
}

.primary {
	background: var(--color-border-primary);
	color: var(--color-text-second);
}

.secondary {
	background: var(--color-bg-popup);
	color: var(--color-text-primary);
}

.transparent {
	background: transparent;
}

.icon {
	padding: var(--length-lvl-4);

	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--color-text-primary);
	font-size: var(--fz-lvl-3);
}

.clear {
	background: none;
	padding: 0px;
}
