.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	background-color: var(--color-bg-primary);
}

.header {
	display: flex;
	align-items: flex-start;

	position: relative;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	box-sizing: border-box;
	height: calc(2 * var(--length-lvl-1));
}

.wrapper {
	max-width: 1300px;
	width: 80%;
	margin: 0 auto;
	flex: 1 0;
}

.main {
	margin: var(--length-st-6) 0;
}
