.wrapper {
	width: 100%;
}

.tabs {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: var(--length-st-4);
}

.button {
	border-radius: 0px;
	background-color: transparent;

	color: var(--color-text-second);
	font-weight: var(--fw-lvl-2);
	font-size: var(--fz-lvl-3);
}

.button.active {
	border-bottom: 1px solid var(--color-border-second);
}
