.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: var(--bord-rad-lvl-1);

	font-family: var(--font-family);
	font-weight: var(--fw-lvl-2);
	font-size: var(--fz-lvl-2);
	padding: var(--length-lvl-4) var(--length-lvl-2);
	border: none;
}

.button.primary:hover {
	cursor: pointer;
	opacity: 0.9;
}
.button.primary:active {
	opacity: 0.6;
}

.button.secondary:hover {
	cursor: pointer;
	opacity: 0.7;
}
.button.secondary:active {
	opacity: 0.5;
}

.button[disabled] {
	opacity: 0.6;
}
.button[disabled]:hover {
	cursor: auto;
	opacity: 0.6;
}

.primary {
	background: var(--color-border-primary);
	color: var(--color-text-second);
}

.secondary {
	background: var(--color-bg-popup);
	color: var(--color-text-primary);
}

.wide {
	width: 100%;
}

.icon {
	border-radius: var(--bord-rad-lvl-2);

	padding: var(--length-lvl-4);

	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--text-primary);
}
