.postBreadCrumbs {
	margin-bottom: var(--length-lvl-1);
}

.title {
	text-align: center;
	margin-bottom: var(--length-lvl-1);
}

.infoWrapper {
	display: flex;
	flex-direction: column;
	gap: var(--length-lvl-4);
	margin-bottom: var(--length-lvl-2);
}
.info {
	color: var(--color-text-second);
}

.text {
	padding: var(--length-lvl-4);
}

.img {
	width: 100%;
	aspect-ratio: 16 / 9;
	margin-bottom: var(--length-lvl-1);
}

.content {
	margin: var(--length-lvl-4) auto;
	max-width: 80%;
	padding: 0 var(--length-lvl-4);
}
