@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

:root {
	--font-family: "Inter", Helvetica, sans-serif;

	--fz-lvl-1: 36px;
	--fz-lvl-2: 24px;
	--fz-lvl-3: 16px;

	--fw-lvl-1: 700;
	--fw-lvl-2: 600;
	--fw-lvl-3: 400;
}
