:root {
	--length-lvl-1: 32px;
	--length-lvl-2: 26px;
	--length-lvl-3: 18px;
	--length-lvl-4: 12px;
	--length-lvl-5: 6px;

	--bord-rad-lvl-1: 20px;
	--bord-rad-lvl-2: 10px;
	--bord-rad-lvl-3: 3px;

	--bord-lvl-1: 6px;
	--bord-lvl-2: 3px;
	--bord-lvl-3: 1px;
}
